<section class="artistinfo">
    <div class="artist cf ng-mode="artists">
        <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
        <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
        <h1>{{artists[whichItem].name}}</h1>
        <div class="info">
            <h3>{{artists[whichItem].reknown}}</h3>
            <img alt="Photo of {{item.name}}" ng-src="images/{{item.shortname}}_tn.jpg"/>
            <div class="bio">{{artists[whichItem].bio}}</div>
        </div>
    </div>
    <a href="index.html">&laquo; Back to search</a>
</section>

