@media(min-width: 1260px) {
  .platforms-graphic__svg-mask {
    margin-left: -111px;
  }
  .platforms-graphic__bg-layer {
    margin-left: -133px;
  }
  .platforms-graphic__icon-overlays {
    margin-left: -203px;
  }
}