//urls
$url_0: url(assets/images/home/devices.png);
$url_1: url(assets/images/home/cloudcat.png);



@media(min-width: 1104px) {
  //@extend-elements
  //original selectors
  //.platforms-graphic__bg-layer, .platforms-graphic__icon-overlays


  .platforms-graphic {
    min-height: 1124px;
    width: 100%;
    position: absolute;
    margin-bottom: 0;
  }
  .platforms-graphic__bg-layer {
    margin-left: -203px;
    width: 1600px;
    height: 1124px;
    background: $url_0 center center no-repeat;
    background-size: contain;
  }
  .platforms-graphic__icon-overlays {
    margin-left: -203px;
    width: 1600px;
    height: 1124px;

    display: block;
    margin-left: -273px;
  }
  .platforms-graphic__svg-mask {
    display: block;
    width: 1529px;
    height: 952px;
    margin-left: -181.5px;
    margin-top: 24px;
    #deviceScreens path {
      opacity: 0;
    }
  }
  .platforms-graphic__icon-overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(0);
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 87px;
      height: 39px;
      background: $url_1 left top no-repeat;
      background-size: 100% auto;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translate(-50%, -50%);
    }
    &.watch {
      left: 754px;
      top: 374px;
      width: 54px;
      height: 68px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 4px;
      &:before {
        width: 43.5px;
        height: 19.5px;
      }
    }
    &.wear {
      left: 850px;
      top: 368px;
      width: 75px;
      height: 75px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
      &:before {
        width: 43.5px;
        height: 19.5px;
      }
    }
    &.arduino {
      left: 629px;
      top: 393px;
      width: 35px;
      height: 39px;
      &:before {
        width: 14.5px;
        height: 6.5px;
      }
    }
    &.mac {
      left: 130px;
      top: 24px;
      width: 1033px;
      height: 176px;
      &:before {
        //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
        transform-origin: 0 50%;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate(-50%, -50%) rotateX(68deg);
      }
    }
    &.mini {
      left: 309px;
      top: 374px;
      width: 222px;
      height: 296px;
    }
    &.droid-1 {
      left: 983px;
      top: 360px;
      width: 161px;
      height: 287px;
    }
    &.ipad {
      left: 607px;
      top: 574px;
      width: 283px;
      height: 382px;
    }
    &.iphone {
      left: 973px;
      top: 759px;
      width: 114px;
      height: 205px;
    }
    &.droid-2 {
      left: 1147px;
      top: 739px;
      width: 123px;
      height: 229px;
    }
    &.droid-3 {
      left: 1333px;
      top: 745px;
      width: 118px;
      height: 210px;
    }
    &.droid-4 {
      left: 1511px;
      top: 721px;
      width: 144px;
      height: 254px;
    }
  }
}