

$top-header        : 60px;
$top-header-mobile : 25px 0;
$top-header-phone  : 15px 0 0 0 ;

$top-nav-padding: 0 21px;

$feature-padding : 95px;


$gallery-padding: 8px;
$gallery-margin-inner  : 15px 11px 10px 11px;


$home-products-height : 768px;
$home-database-height : 768px;
