@import "settings";
@import "foundation";
@import "marginpadding";
@import "colors";
@import "typography";

body {
  background-color: $background;
  font-family: $regular-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $regular-font;
}

.home-bolts{
  .bolts-layout{
    position: relative;

    .intro{
      position: absolute;
      float: left;
    }

    .title{
      position: absolute;
      font-family: $regular-font;
      font-size: 40px;
      color: #ffffff;
      letter-spacing: 0.75px;
      line-height: 27px;
      margin-top: 60px;
    }
  }
}

.home-database {
  background-color: #ffffff;
  height: $home-database-height;
  overflow: visible;
  padding-top: 40px;

  .title {
    font-family: $regular-font;
    font-size: 20px;
    color: #00DB7C;
    letter-spacing: 0.75px;
    line-height: 27px;
  }

  .subtitle {
    font-family: $regular-font;
    font-size: 48px;
    color: #D0021B;
    letter-spacing: 1.8px;
    line-height: 65px;
  }

  .local-database-intro {
    margin: 0 auto;
    width: 480px;
    height: 290px;
  }

  .online-database-intro {
    font-family: $regular-font;
    font-size: 24px;
    color: #000000;
    line-height: 33px;
    margin-top: 50px;
  }

  .right-panel{
    border-left: solid 1px #ccc;
  }

}

.home-products {
  background-color: transparent;
  height: $home-products-height;
  overflow: visible;

  #owl-demo {
    .item {
      margin: 0px;
      position: relative;
      height: $home-products-height;

      img {
        display: block;
        width: 100%;
        height: $home-products-height;
        position: absolute;
      }

      .title {
        position: absolute;
        margin-left: 200px;
        padding-top: 200px;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
      }

      .feature {
        background: $accent;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 5px;
        font-size: $feature;
        margin-top: $feature-padding;
        margin-bottom: 0;

        z-index: 100;
        position: absolute;
      }

    }
  }

}








