@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

$regular-font: 'Raleway';

//sizes
$slogan: .9em;
$nav-items: .95em;
$nav-items-mobile: .8em;

$feature: .8em;

$subtext: 1.5em;
$subtext-mobile: 1.2em;

$h1: 4em;
$h1-mobile: 2.5em;

$article-titles: 1.3em;
$article-titles-1h: .9em;
$article-subtitles: .9em;

$sidebar-titles: 1em;

$forum-title: .95em;
$forum-auth: .84em;
            




