@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);
            

            $regular-font : 'Raleway';

            //sizes            
            $slogan: .9em;
            $nav-items: .95em;

            $feature : .8em;

            $subtext : 1.5em;

            $h1   :4em;

            $article-titles : 1.3em;
            $article-titles-1h: .9em;
            $article-subtitles : .9em;

            




