

<div class="jumbotron">

  <div ng-repeat="message in messages"">
    {{message.user}} - {{message.text}} - {{message.name}}
  </div>

</div>

<button type="button" class="btn btn-dange" ng-click="turnFeeddOff()">Turn feed off</button>


<div class="row marketing">
  <input type="text" class="form-control" ng-model="currentUser" placeHolder="current user"/>
  <div class="input-group">
    <input class="form-control" type="text" ng-model="currentText" placeHolder="current text"/>
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="sendMessage()">Send</button>
    </span>
  </div>
</div>
